.hero__event-card {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    /* justify-content: space-between; */
    /* width: 100%; */
    /* max-width: 520px; */

    padding: 1.2rem 2rem;

    border: 2px solid #C88D38;
    border-radius: 999px;

    background: #F6D299;

    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.35);
}

.hero__event {
    /* flex: 1; */

    text-align: center;
}

/*
.hero__event:first-child {
    text-align: left;
}

.hero__event:last-child {
    text-align: right;
}
*/

.hero__event-heading {
    margin-bottom: 0.35rem;

    color: #2B1768;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.hero__event-subtext {
    color: #1F1F1F;

    font-size: 16px;
    font-weight: 500;
}

.hero__event-divider {
    width: 1px;

    align-self: stretch;

    background: #B58A4D;

    /* margin-inline: .5rem; */
}